# Dependencies and AdonisJS build
node_modules
build
tmp
logs

# Secrets
/src/api/.env
.env.local
.env.production.local
.env.development.local

# Frontend assets compiled code
public/assets

# Build tools specific
npm-debug.log
yarn-error.log
**/bytes_archive.json


# Editors specific
.fleet
.idea
.vscode

# Platform specific
.DS_Store
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.jar